table,
th,
td, button, video, h2, h1 {
  border: 1px solid black;
  margin-left: 50px;
}

#recompensa {
  position: absolute;
  top: 10px;
  left: 400px;
}

#ia_black {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background-color: #cc0000;
}


#probabilidades {
  color: white;
}

#gazillion{
  color: white;
}
